/**
 * @file
 * CSS Custom Variables
 *
 * Here you can define your CSS variables. Unlike Sass variables, these will be
 * compiled to final CSS file. You can access these values in the browsers,
 * change these on the fly via JavaScript or modify values as you need in CSS.
 *
 * If you want to use a Sass variable as value, you must interpolate that:
 *
 * @example
 *   #{$color-brand}
 *
 * With Variable Tool you can use CSS custom properties in a faster way:
 *
 * @example
 *   :root {
 *     --color-details: v(color-elements-white);
 *   }
 */

/*:root {
  --color-font: #{$body-font-color};
  --color-body: white;
}*/

/**
 * Dark version
 */
:root .global-hash-dark-version {
  --color-font: white;
  --color-body: #222327;
}

* {
  box-sizing: border-box;
}
