/**
 * @file
 * Site Footer
 *
 * Footer is not a component, it's a layout section. Therefore all footer
 * related styles, rules come here except what has an independent component, ie.
 * Scroll to Top button.
 */
footer {
  background-color: $color-grey-dark;
  padding: 4rem 3rem 9rem;
  @include breakpoint(tablet) {
    padding: 6.2rem 0 9rem;
  }
}


.region-footer {
  @include flex;
  @include flex-direction(column);
  @include width-1105;
  @include breakpoint(medium) {
    @include flex-direction(row);
    @include justify-content(space-between);
  }
  .region-footer--left-side {
    @include breakpoint(tablet down) {
      margin-bottom: 2.7rem;
    }
  }
  .region-footer--right-side {
    font-family: $font-open;
    font-size: 1.5rem;
    a {
      @include link-hover;
    }
    .footer-title {
      margin-bottom: 1.4rem;
      display: inline-block;
      font-weight: 700;
      @include breakpoint(medium) {
        margin-bottom: 3.5rem;
      }
    }
    .social-block {
      margin-bottom: 7.4rem;
      @include breakpoint(medium) {
        margin-bottom: 3.8rem;
      }
      a {
        @include link-hover;
        margin-right: 1.6rem;
      }
    }
  }
}
