/**
 * @file
 * Clearfix Tool
 *
 * The clearfix utility is used on elements that need to automatically clear
 * their child elements.
 *
 * Use it wherever you need it.
 *
 *
 * @example
 *   .o-grid {
 *     @include clearfix;
 *   }
 */

// Clearfix mixin
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
