
#block-news-page-lead {
  padding-bottom: 5.5rem;
  line-height: 3rem;
}

.view-news-events.view-display-id-lister {
  padding-bottom: 10rem;
}

.block-views-exposed-filter-blocknews-events-lister {
  background-color: $color-white;
  padding-bottom: 5rem;
  @include breakpoint(medium) {
    padding-bottom: 10rem;
  }
  .block-inner {
    @include width-1105;
  }
  form {
    position: relative;
    @include breakpoint(medium) {
      @include width-855;
    }
    .news-events-markup {
      font-family: $font-open;
      font-size: 1.8rem;
      margin-bottom: 4.5rem;
      text-align: center;
    }
    .group--free-search {
      @include flex;
      margin: 0 auto 1rem;
      @include breakpoint(medium) {
        margin: 0 auto 3.2rem;
        max-width: 55rem;
      }
      .js-form-type-textfield {
        display: block;
        float: none !important;
        margin: 0;
        width: 100%;
        input {
          background-color: $color-grey-light;
          border: 0;
          padding: 1rem;
          height: 4.4rem;
          width: 100%;
        }
      }
      input.form-submit {
        @include bordered-button;
        min-height: 4.4rem;
        height: 4.4rem;
      }
      input[data-drupal-selector="edit-reset"] {
        display: none;
      }
    }
    .group--filters {
      @include flex;
      @include justify-content(center);
      @include flex-direction(column);
      @include breakpoint(medium) {
        @include flex-direction(row);
      }
      .js-form-type-select {
        margin-bottom: 1rem;
        @include breakpoint(medium) {
          margin: 0 1rem;
        }
        label {
          margin-bottom: .2rem;
          display: block;
          font-weight: 700;
          font-size: 1.4rem;
          opacity: .9;
        }
        input, select {
          background-color: $color-grey-light;
        }
      }
    }
  }
}

.info-line {
  @include flex;
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  padding: 0 2.3rem;
  margin-bottom: 1.5rem;
  min-height: 5rem;
  .views-field-field-city,
  .field--name-field-geographical-area {
    .field-content span:after {
      content: ",";
      margin: 0 .3rem 0 0;
    }
  }
  .views-field-field-country,
  .views-field-field-start-date,
  .field--name-field-date {
    .field-content span:after {
      content: "|";
      margin: 0 .3rem;
    }
  }
  .views-field-field-start-date,
  .field--name-field-date {
    .field-content span:after {
      margin: 0 .3rem 0 -.1rem;
    }
  }
  .views-field-field-type,
  .field--name-field-type {
    font-weight: 700;
  }
}

.country-line {
  @include flex;
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  justify-self: flex-end;
  margin-top: auto;
  padding: 0 2.3rem;
  margin-bottom: 1.5rem;
  .views-field:first-child .field-content:before,
  .field:first-child .field__item:before {
    content: '';
    display: inline-block;
    background-image: url('../images/dist/icons/map-marker.svg');
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.7rem;
    margin-bottom: -.2rem;
    margin-right: .5rem;
  }
}


.view-id-news_events.view-display-id-highlighted_block {
  padding: 8.5rem 0;
  font-family: $font-open;
  .view-content .views-row {
    @include flex;
    @include flex-direction(column);
    background-color: transparent;
    margin-bottom: 4rem;
    width: 100%;
    overflow: hidden;
    border: 0;
    @include breakpoint(medium) {
      @include flex-direction(row);
    }
    .left-side,
    .right-side {
      width: 100%;
      margin: 0 auto 2rem;
      max-width: 60rem;
      @include breakpoint(medium) {
        margin: 0;
      }
    }
    .left-side {
      @include breakpoint(medium) {
        width: 40%;
      }
      .views-field-field-image {
        overflow: hidden;
        height: auto;
      }
    }
    .right-side {
      @include breakpoint(medium) {
        width: 60%;
      }
    }
    .left-side {
      .views-field-field-image {
        margin-bottom: 0;
        height: auto;
      }
    }
    .right-side {
      @include breakpoint(medium) {
        padding-left: 6rem;
      }
      .views-field-title,
      .views-field-field-start-date {
        padding: 0;
      }
      .views-field-title a {
        height: auto;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      .views-field-field-lead {
        font-size: 1.8rem;
        line-height: 3rem;
      }
      .info-line {
        @include flex;
        margin-bottom: 0;
        padding: 0;
        .views-field-field-start-date,
        .views-field-field-country {
          .field-content span:after {
            content: "|";
            margin: 0 .3rem;
            font-weight: 400;
          }
        }
        .views-field-field-start-date {
          .field-content span:after {
            margin: 0 .3rem 0 0;
          }
        }
        .views-field-field-city,
        .views-field-field-country {
          font-weight: 700;
        }
        .views-field-field-type {
          font-weight: 400;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.view-id-news_events {
  &.view-display-id-lister {
    .view-header {
      display: none;
    }
  }
}

.view-content .views-row {
  &.Event {
    .info-line {
      .views-field-field-city,
      .views-field-field-country {
        display: block;
      }
    }
  }
}
