{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}

<li{{ attributes }}><a href="{{ link['#url'] }}"><img src="/themes/custom/c2d_theme/images/dist/resources/case_law.png" alt="">{{ link['#title'] }}</a></li>
